/*-----Global Changes-----*/
pre{
    font-family: courier;
    text-align: center;
}

h2{
    font-family: courier;
}



/*-----Banner-----*/

#banner{
    font-family: courier;
    background-image: url("typewriter.jpg");
    height: 150px;
    width: 640px;
    margin: 0 auto;
}

#banner h1{
    position: absolute;
    padding-left: 410px;
    padding-top: 85px;
}

/*-----Nav Bar-----*/

#nav{
    font-family: courier;
    margin: 0 auto;
    height: 50px;
    width: 620px;
    font-size: 14px;
    color: black;
}

#nav ul{
    list-style-type: none;
}

#nav ul li{
    float: left;
}

#nav ul li a{
    border-right: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    background-color: rgb(233,233,233);
    text-decoration: none;
    text-align: center;
    display: block;
    color:black;
    padding: 15px;
}

/*-----Footer-----*/

#foot{
    margin: 0 auto;
    width: 134px;
    height: 42px;
}

#foot img{
    max-width: 42px;
    height:  auto;
    padding-top: 20px;
}

/*-----About-----*/

#about{
    font-family: courier;
    width: 640px;
    height: auto;
    margin: 0 auto;
}

#skills{
    font-family: courier;
    width: 640px;
    height: auto;
    margin: 0 auto;
}

#jobs{
    font-family: courier;
    width: 640px;
    height: auto;
    margin: 0 auto;
}

#jobs li{
    padding-bottom: 5px;
}

/*-----Weather-----*/

/*
#weather{
    font-family: courier;
    text-align: center;
    width: 640px;
    height: auto;
}*/

#sun{
    width: 100px;
    height:  auto;
    margin: 0 auto;
}

#sun img{
    max-width: 100px;
    height:  auto;
    padding-bottom: 20px;
}

#map{
    width: 500px;
    height: 500px;
}

/*-----Forecast-----*/

#forecast{
    font-family: courier;
    width: 560px;
    height: auto;
    margin: 0 auto;
}

#forecast td{
    text-align: center;
}

#forecast table{
    padding-bottom: 20px;
}

/*-----Contact-----*/

#block{
    font-family: courier;
    width: 560px;
    height: auto;
    margin: 0 auto;
}

#contact{
    font-family: courier;
    width: 560px;
    height: auto;
    margin: 0 auto;
}

#contact form{
    padding-bottom: 20px;
}
